<div id="<%= dom_id gizmo %>">
  <p>
    <strong>Type:</strong>
    <%= gizmo.type %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= gizmo.title %>
  </p>

  <p>
    <strong>Bool1:</strong>
    <%= gizmo.bool1 %>
  </p>

  <p>
    <strong>String1:</strong>
    <%= gizmo.string1 %>
  </p>

  <p>
    <%= link_to "Show this gizmo", gizmo %>
  </p>
</div>
